body {
  margin: 10px;
}

.wrapper {
  display: flex;
  background-color: #fff;
  color: #444;
  flex-flow: row wrap;
  padding: 0;
}

.wrapper div {
  flex-basis: 20%;
  background-color: #444;
  color: #fff;
  font-size: 150%;
  min-width: 400px;
  border: 10px solid white;
}

.wrapper p {
  padding: 20px;
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
}